<%- include('cabecera', {}); %>

<body onload="actualizarReloj()">
    <%- include('navegacion', {}); %>
    <!--  -->
    <main>
        <section>
            <header>
                <h2>
                    Política de accesibilidad
                </h2>
            </header>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus metus massa, feugiat vitae risus ut, blandit maximus quam. Nulla id libero ut nulla hendrerit viverra. Suspendisse interdum hendrerit ipsum, vel volutpat risus. Pellentesque felis mi, condimentum id odio quis, lacinia tristique quam. Mauris semper ullamcorper erat vitae semper. Suspendisse tincidunt quam at dolor eleifend ornare. Sed ultricies tincidunt blandit. Aliquam lacinia sit amet urna eget convallis. Suspendisse congue tempor massa, vel euismod diam ultricies nec. Sed dui diam, efficitur ut scelerisque id, congue vel orci. Praesent non libero ac nunc vehicula ultrices. Sed ut elit non velit fringilla porttitor non vitae neque. Vivamus lobortis diam lacus, eu volutpat dolor laoreet et. Nam volutpat commodo augue nec dignissim. Morbi id quam at turpis bibendum semper ac eu est.
            </p>
            <p>
                Duis blandit orci vel neque condimentum tempor et in lorem. Nulla commodo tincidunt quam, quis fringilla turpis vehicula in. Etiam condimentum lobortis leo, in consequat enim rhoncus dictum. Donec a lectus nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras gravida sed sem et malesuada. Aliquam a dui et eros lobortis fringilla. Donec a pellentesque massa. Nam fermentum nisi felis, nec cursus libero hendrerit a. Ut lobortis tristique eleifend.
            </p>
            <p>
                Aenean semper venenatis scelerisque. Nunc auctor placerat nisl, placerat ultrices nibh. Cras non felis a ante ultricies malesuada. Nam iaculis non arcu et dignissim. Proin vitae ipsum gravida, pellentesque mauris ac, facilisis magna. Vestibulum justo sapien, dignissim quis aliquet et, viverra pulvinar eros. Suspendisse pellentesque odio sit amet enim gravida blandit. Morbi pharetra sit amet mi sit amet convallis. Nullam tempor dictum mi, quis tincidunt metus rhoncus in. Fusce sit amet lacinia ligula, eu imperdiet tortor.
            </p>
            <p>
                Proin condimentum purus nulla, sed maximus justo efficitur eu. Sed aliquam, elit non accumsan finibus, erat velit ullamcorper leo, sit amet facilisis urna odio in dolor. Fusce ut dignissim urna. Aliquam eu tempor sapien, vitae ultricies velit. Pellentesque in ipsum congue, accumsan tellus nec, vulputate sem. Phasellus sit amet quam id sem dictum iaculis at in augue. Nunc in urna libero. Vestibulum ultricies, arcu eget bibendum fermentum, dui dolor congue felis, at condimentum massa ipsum id sem. Nullam bibendum, enim eu faucibus scelerisque, ex enim aliquet orci, vitae molestie est ex quis massa. Aenean scelerisque malesuada erat, euismod posuere urna molestie vitae. Etiam sit amet purus nunc. Maecenas sapien felis, elementum sed ligula at, vestibulum facilisis tortor. Donec accumsan, dui id tempus consequat, orci augue fringilla neque, ac interdum libero mauris vitae ex. In hac habitasse platea dictumst.
            </p>
            <p>
                In hac habitasse platea dictumst. Nam vestibulum efficitur lectus, at consectetur mauris placerat quis. Nam non quam quis libero consequat accumsan sed sed nisi. Sed nec est et neque accumsan egestas vitae vel purus. Maecenas ornare commodo neque, ut interdum magna pellentesque id. Phasellus ac velit blandit, luctus velit fringilla, pretium massa. Etiam vehicula tellus a ante pretium dictum. Mauris nec metus ac velit scelerisque hendrerit et ac augue. In luctus velit ac velit interdum varius. Morbi vehicula turpis at feugiat eleifend.
            </p>

        </section>

    

    </main>

    <%- include('footer', {}); %>
</body>

</html>