<footer class="d-inline-flex justify-content-evenly">
    <div class="d-inline">
        Administrado por:
        <address class="d-inline">
            <a href="mailto:pilar.perez.olivan@alumnos.ui1.es">Pilar Pérez Oliván</a>
        </address>
    </div>
    <div class="d-inline">
        <a href="/legal/">Aviso legal</a>
    </div>
    <div class="d-inline">
        <a href="/accesibilidad/">Política de accesibilidad</a>
    </div>
    <div id="reloj" class="d-inline">
    </div>
</footer>