    <!-- Menú de navegacion -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacion">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid">
            <div class="collapse navbar-collapse nav-dark" id="barraNavegacion">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Portada</a>
                    </li>
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="/peliculas/" >Películas</a>
                        <ul class="dropdown-menu bg-dark " >
                            <% for (let pelicula of parametrosComunes['listaPeliculas']) { %>
                                <li><a class="nav-link" href="/pelicula/<%= pelicula['id']%>"><%= pelicula['titulo']%></a></li>
                            <% } %>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/premios/">Listado de premios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto/">Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-5">
                    <li class="nav-item">
                        <span class="nav-link" onclick="ampliarTexto()">Ampliar</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" onclick="reducirTexto()">Reducir</span>
                    </li>
                </ul>
                <ul class="navbar-nav ">
                    <% if (parametrosComunes['usuarioActivo']==-1) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register/">Registrarse</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>