<%- include('cabecera', {}); %>

<body onload="actualizarReloj()">
    <%- include('navegacion', {}); %>
    <!--  -->
    <main>
        <section>
            <header>
                <h2>
                    Películas participantes
                </h2>
            </header>
            <div class="row container-peliculas">
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card text-center pt-2">
                        <a href="peliculas/1.html"><img src="carteleras/1.jpg" class="card-img-top" alt="Mufasa: El rey león"></a>
                        <div class="card-body">
                            <p>Mufasa: El rey león</p>
                            <a href="peliculas/1.html" class="btn btn-sm btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card text-center pt-2">
                        <a href="peliculas/2.html"><img src="carteleras/2.jpg" class="card-img-top" alt="Conclave"></a>
                        <div class="card-body">
                            <p>Conclave</p>
                            <a href="peliculas/2.html" class="btn btn-sm btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card text-center pt-2">
                        <a href="peliculas/3.html"><img src="carteleras/3.jpg" class="card-img-top" alt="Gladiator II"></a>
                        <div class="card-body">
                            <p>Gladiator II</p>
                            <a href="peliculas/3.html" class="btn btn-sm btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card text-center pt-2">
                        <a href="peliculas/1.html"><img src="carteleras/1.jpg" class="card-img-top" alt="Mufasa: El rey león"></a>
                        <div class="card-body">
                            <p>Mufasa: El rey león</p>
                            <a href="peliculas/1.html" class="btn btn-sm btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card text-center pt-2">
                        <a href="peliculas/2.html"><img src="carteleras/2.jpg" class="card-img-top" alt="Conclave"></a>
                        <div class="card-body">
                            <p>Conclave</p>
                            <a href="peliculas/2.html" class="btn btn-sm btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card text-center pt-2">
                        <a href="peliculas/3.html"><img src="carteleras/3.jpg" class="card-img-top" alt="Gladiator II"></a>
                        <div class="card-body">
                            <p>Gladiator II</p>
                            <a href="peliculas/3.html" class="btn btn-sm btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card text-center pt-2">
                        <a href="peliculas/1.html"><img src="carteleras/1.jpg" class="card-img-top" alt="Mufasa: El rey león"></a>
                        <div class="card-body">
                            <p>Mufasa: El rey león</p>
                            <a href="peliculas/1.html" class="btn btn-sm btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card text-center pt-2">
                        <a href="peliculas/2.html"><img src="carteleras/2.jpg" class="card-img-top" alt="Conclave"></a>
                        <div class="card-body">
                            <p>Conclave</p>
                            <a href="peliculas/2.html" class="btn btn-sm btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>

            </div>

        </section>

    

    </main>

    <%- include('footer', {}); %>
</body>

</html>